.body{
    color:white;
}

.pass-heading{
    font-size:clamp(1.2rem,3.5vw,2rem);
    text-align: center;
}

.input-containers{
    display:flex;
    width:100vw;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap:30px;
    
}
.site-name{
    width:60vw;
    border-radius: 8px;
    height:40px;
}
.input-container-secondary{
    width:60vw;
    height:auto;
    display:flex;
    gap:10vw;

}
.site-password{
    width:25vw;
    height:40px;
    border-radius: 8px;
}

input{
    padding:10px;
    padding-top:13px;
    box-sizing: border-box;
    font-size:clamp(0.7rem,1.7vw,1rem);
    height:40px;
    background-color: white;
}

input::placeholder{
    font-size:clamp(0.7rem,1.7vw,1rem);
    
}

.submit-button{
    width:40vw;
    height:40px;
    background-color: rgb(65, 4, 105);
    border-radius: 10px;
    color:white;
    outline:none;
    border:1px soid rgb(196, 155, 223) ;
    font-size:clamp(0.8rem,2vw,1.2rem);
    
}
.password-displayer{
    font-size:clamp(1.2rem,3.5vw,2rem);
    text-align: center;
    margin-top: 100px;
}
.password-displayer-container{
    width:80vw;
    margin:auto;

}
.password-displayer-heading{
    display:flex;
    font-size:clamp(0.8rem,2vw,1.2rem);
    font-size:bold;
    background-color: #7230d6;
    font-family: sans-serif;
    border-radius: 20px;
    padding:0px;
    margin-bottom: 20px;
    justify-content: space-around;
    display:flex;
    flex-wrap: wrap;;

}
.password-displayer-heading-site{
    width:29%;
}
.password-displayer-site{
    background-color:rgb(47, 28, 83);
    width:29%;
    border:1px solid black;
    padding:5px;
    border-radius:5px;
    margin:10px;
}
.password-displayer-index{
    width:5%;
    margin-left: 25px;
}

.password-displayer-heading-index{
    width:10%;
    margin-left: 10px;
}
.password-displayer-item{
    display:flex;
    font-size:clamp(0.8rem,2vw,1.2rem);
    font-family: sans-serif;
    justify-content: space-around;
    border:1px solid black;
    padding:0px;
    border-radius:20px;
    background-color: #1f1233;

}
.index-delete-container{
    display:flex;
    gap:19px;
}
.extra{
    height:100px;
    width:100%;
}

.password-displayer-content{
    display:flex;
    flex-direction:column;
    gap:10px;

}


@media(max-width:800px){
    .input-container-secondary{
        display:flex;
        flex-direction: column;
    }
    .site-password ,.site-name{
        width:92vw;
        align-self: center;
    }
    .password-displayer-container{
        width:98vw;
        margin:auto;
        padding:10px;
        box-sizing: border-box;
    }
    .password-displayer-heading-site,.password-displayer-heading-index{
        width:45%;
    }
    .password-displayer-heading-index{
        margin-left:0;
    }

    .password-displayer-heading{
        border-radius: 10px;
        display:flex;
        flex-wrap: wrap;
        padding-left:10px;
        padding-right:10px;
    }

    .password-displayer-item{
        border-radius: 10px;
        display:flex;
        flex-wrap: wrap;
        padding-left:5px;
        padding-right:5px;
    }

    .password-displayer-site{
        width:40vw;
    }
    .password-displayer-username{
        width:80vw;
    }
    .password-displayer-itemSite{
        width:60vw;
    }

    .password-displayer-index{
        /* margin-top: 17px; */
        font-size:16px;
    }
    




}
